[flake8]
max-line-length = 119
max-complexity = 10
select = "C,E,F,W,B"
ignore = "E203"
exclude =
    .git,
    __pycache__,
    node_modules,
    migrations,
    .mypy_cache,
    .vscode,
    .venv

